<%-include('../Inclue/menu.ejs')%>
<style>
    .fontS{
        font-size: 30px;
    }
</style>
<div class="container">
    <div style="font-size: 50px; color: red; text-align: center;">
        Chi tiet
    </div>
    <div class="row" style="margin-top: 20px;" >
        <div class="col-5">
         <img src="<%=Product.image%>" alt="" width="80%" height="80%">
        </div>
        <div class="col-7">
         <span class="fontS"><b>Name:</b></span> <span class="fontS"><%=Product.name%></span><br><br>
         <span class="fontS"><b>Category:</b></span> <span class="fontS"><%=Product.id_Category.name%></span><br><br>
         <span class="fontS"><b>Price:</b></span> <span class="fontS" style="color: aqua;"><%=Product.price%> VNĐ</span><br>
         
         
        </div>
    </div>
    <span class="fontS"><b>Description:</b></span> <span class="fontS"><%=Product.description%></span><br>
</div>